/**
 * 商品分類
 *
 * @author:	P-C Lin (a.k.a 高科技黑手)
 */
ASIDE{border:1px solid #333;float:left;width:190px}
ASIDE>A{padding:12px;display:block;overflow:hidden;color:#333;font-family:'cwTeXYen',sans-serif;font-size:24px;text-align:center;text-decoration:none;text-overflow:ellipsis;white-space:nowrap;cursor:default}
ASIDE>A[href]{cursor:pointer}
ASIDE>A[href]:hover{font-weight:bold}
A#aside1{color:#FFF;background-color:#333}
A#aside2{color:#FFF;background-color:#FF5F5E}
A#aside3{color:#FFF;background-color:#FE9903}
ASIDE+DIV{border-top:3px solid #256FB8;float:right;width:783px}
H1#shelfName{margin:0;padding:12px;display:inline-block;color:#FFF;background-color:#79AE3D;font-family:'cwTeXYen',sans-serif;font-size:36px;cursor:default}
UL#merchandises{margin:0;padding:0;list-style-type:none}
UL#merchandises>LI{margin-right:5px;float:left}
UL#merchandises A.figure{overflow:hidden}
UL#merchandises A.figure>FIGURE{margin:0;position:relative;overflow:hidden}
UL#merchandises A.figure FIGCAPTION{position:absolute;top:-100%;width:100%;color:#000;background-color:rgba(255,255,255,.6);transition:.3s}
UL#merchandises A.figure FIGCAPTION>P{margin:3px 0;line-height:16px;overflow:hidden;font-family:'cwTeXHei',sans-serif;text-align:center;text-overflow:ellipsis;white-space:nowrap}
UL#merchandises A.figure FIGCAPTION>P.price:before{content:'$'}
UL#merchandises A.figure:hover FIGCAPTION{top:0}