/**
 * 加入會員及會員登入頁面
 *
 * @author:	P-C Lin (a.k.a 高科技黑手)
 */
FORM#logIn,FORM#signUp{margin:0 auto;min-height:512px;font-family:'cwTeXYen',sans-serif;font-size:24px}
FORM#logIn>DIV,FORM#signUp>DIV{padding:12px;color:#FFF;background-color:#C82506;font-weight:bold;text-align:center;box-shadow:0 3px 3px #808080}
TABLE.form{margin:0 auto;width:auto;font-family:'cwTeXYen',sans-serif}
TABLE.form>CAPTION{color:#C82506;font-family:'cwTeXYen',sans-serif;text-align:center}
TABLE.form>TBODY>TR>TH{text-align:right;cursor:default}
TABLE.form>TBODY>TR>TH:after{content:'：';font-weight:normal}
TABLE.form>TBODY>TR>TD{text-align:left}
A#agreement{color:#C82506;text-decoration:underline}
DIV#jDialog{display:none}
INPUT[type='reset'],INPUT[type='submit']{padding:6px 12px;border:0;border-radius:3px;color:#FFF;font-family:'cwTeXYen',sans-serif;font-size:24px;cursor:pointer;box-shadow:0 3px 3px #808080}
INPUT[type='reset']:hover,INPUT[type='submit']:hover{font-weight:bold}
INPUT[type='password'],INPUT[type='text']{padding:6px;border:1px dotted #333}
INPUT[type='password']:focus,INPUT[type='text']:focus{border-style:solid}
A#forgot{color:#C82506}